<?xml version="1.0" ?>
<launch>

  <!-- Arguments -->
  <arg name="elements_models_path" default="$(find map_pkg)/models" />
  <arg name="gazebo_models_path" default="$(find map_pkg)/worlds" />
  <arg name="gen_map_params_file" default="$(find map_pkg)/config/full_config.yaml" />
  <arg name="victims_activated" default="false" />



  <!-- Send Borders -->
  <node pkg="map_pkg" type="send_borders" name="send_borders" output="screen">

  </node>

  <!-- Send Gates -->
  <node pkg="map_pkg" type="send_gates" name="send_gates" output="screen">

  </node>

  <!-- Send Obstacles -->
  <node pkg="map_pkg" type="send_obstacles" name="send_obstacles" output="screen">

  </node>

  <!-- Send Victims (only if activated) -->
  <group if="$(arg victims_activated)">
    <node pkg="map_pkg" type="send_victims" name="send_victims" output="screen">

    </node>

    <!-- Send Timeout Node -->
    <node pkg="map_pkg" type="send_timeout" name="send_timeout" output="screen">

    </node>
  </group>
  
 <!-- spawn in gazebo-->

<node pkg="map_pkg" type="spawn_borders.py"  name="spawn_borders" output="screen" >
<param name="gen_map_params_file" value="$(arg gen_map_params_file)" />
<param name="gazebo_models_path" value="$(arg gazebo_models_path)" />  </node>


<node pkg="map_pkg"
type="spawn_obstacles.py"
name="spawn_obstacles"
output="screen">
<param name="gen_map_params_file" value="$(arg gen_map_params_file)" />
<param name="elements_models_path" value="$(arg elements_models_path)" />
 </node>


<node pkg="map_pkg" type="spawn_gates.py"  name="spawn_gates" output="screen">
    <param name="gen_map_params_file" value="$(arg gen_map_params_file)" />
    <param name="elements_models_path" value="$(arg elements_models_path)" />
 </node>
        
  

</launch>
