<launch>
  <arg name="ns" default="limo0"/>

  <machine name="limo"
           address="limo"
           user="agilex"
           password="agx"
           env-loader="/opt/ros/melodic/env.sh"/>

  <group ns="$(arg ns)">
    <include file="$(find limo_base)/launch/limo_base.launch" machine="limo"/>
  </group>
</launch>
